.bg-black {
  background-color: #000000;
}
.pl-5px, .px-5px {
  padding-left: 5px !important;
}
.pr-5px, .px-5px {
  padding-right: 5px !important;
}
.mt-10px, .my-10px {
  margin-top: 10px !important;
}
.mb-10px, .my-10px {
  margin-bottom: 10px !important;
}
